.input-block {
  width: 48%;
  padding-block: 1rem;
}

.input-block input,
.input-block select,
.input-block textarea {
  /* width: 100%; */
  border-radius: 0;
  border: 1px solid $secondary-light;
  padding: 1rem 1rem;
  margin-block: 0.5rem;
  background-color: transparent;
  width: 100%;
}

.input-block textarea {
  resize: none;
  height: 200px;
}
.bio,
.desc {
  width: 100%;
}
.skill-input {
  gap: 20px;
}
.skill-input .input-block {
  width: 100%;
}
.skill-input .input-block:nth-child(2) {
  width: 20%;
}
.skill-input .input-block:nth-child(2) input {
  cursor: pointer;
  background-color: $secondary-semidark;
  color: $bg-color;
  transition: all 0.3s;
  border: 1px solid $secondary-semidark;
}
.skill-input .input-block:nth-child(2) input:hover {
  background-color: $secondary-dark;
}
.skills {
  padding: 2rem;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 1.6rem;
}
.skills span {
  background-color: $secondary-light;
  padding: 1rem 2rem;
  border-radius: 100px;
  gap: 10px;
  max-width: 200px;
}

.buttons {
  padding-block: 2rem;
}
.buttons button {
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 0;
  border: 2px solid $blue;
  color: $blue;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.buttons button:hover {
  background-color: $baby-blue;
  /* color: $bg-color); */
}
.buttons button.next {
  border: 2px solid $primary-main;
  background-color: $primary-main;
  box-shadow: 0px 0px 5px -2px $secondary-semilight;
  color: $bg-color;
}
.buttons button.next:hover {
  background-color: $primary-semidark;
}

@media screen and (min-width: 1700px) {
	:root {
		font-size: 80%;
	}
	section {
		max-width: 1200px;
	}
}