@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');

$bg-color: #f3f3f3;
// Primary
$primary-light: #ffc3ce;
$primary-semilight: #ff768e;
$primary-main: #ff3a52;
$primary-semidark: #ec253e;
$primary-dark: #a8182c;
// Secondary
$secondary-light: #978aa2;
$secondary-semilight: #655870;
$secondary-main: #3d3048;
$secondary-semidark: #291c34;
$secondary-dark: #150a20;
// Other
$blue: #3983fa;
$baby-blue: #bbcde5;

$progress-bar-font: 'Rubik', sans-serif;
