.example1 {
  background: #FEC8D8;
  width: 30px;
  height: 20px;
  display: inline-block;
}

.example2 {
  background: #C4E6C1;
  width: 30px;
  height: 20px;
  display: inline-block;
}

input:last-child {
  display: block;
}

.first {
  background: #FEC8D8;
}

.second {
  background: #C4E6C1;
}