@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import './styles/theme';
@import './styles/prestyles';
@import './styles/header';
@import './styles/templatethree';

@import './styles/landing-page.scss';

// @import "~react-datepicker/dist/react-datepicker.css";

@mixin position-icons {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

html {
	background: $bg-color;
}

html,
body {
	min-height: 100vh;
}

section {
	width: 100%;
	max-width: 900px;
	margin: auto;
	padding: 6rem 1rem;
}

.redirect {
	color: $secondary-semidark;
	display: block;
	margin: 2rem auto;
	font-size: 20px;
	text-align: center;
	transition: all 0.3s;
	&:hover {
		color: $secondary-light;
	}
}

.input-block {
	width: 48%;
	padding-block: 1rem;
}

.input-block input,
.input-block select,
.input-block textarea {
	/* width: 100%; */
	border-radius: 0;
	border: 1px solid $secondary-light;
	padding: 1rem 1rem;
	margin-block: 0.5rem;
	background-color: transparent;
	width: 100%;
}

.input-block textarea {
	resize: none;
	height: 200px;
}
.bio,
.desc {
	width: 100%;
}
.skill-input {
	gap: 20px;
}
.skill-input .input-block {
	width: 100%;
}
.skill-input .input-block:nth-child(2) {
	width: 20%;
}
.skill-input .input-block:nth-child(2) input {
	cursor: pointer;
	background-color: $secondary-semidark;
	color: $bg-color;
	transition: all 0.3s;
	border: 1px solid $secondary-semidark;
}
.skill-input .input-block:nth-child(2) input:hover {
	background-color: $secondary-dark;
}
.skills {
	padding: 2rem;
	gap: 20px;
	flex-wrap: wrap;
	font-size: 1.6rem;
}
.skills span {
	background-color: $secondary-light;
	padding: 1rem 2rem;
	border-radius: 100px;
	gap: 10px;
	max-width: 200px;
}

.buttons {
	padding-block: 2rem;
}
.buttons button {
	background-color: transparent;
	padding: 1rem 2rem;
	border-radius: 0;
	border: 2px solid $blue;
	color: $blue;
	font-size: 1.6rem;
	transition: all 0.3s;
}
.buttons button:hover {
	background-color: $baby-blue;
	/* color: $bg-color); */
}
.buttons button.next {
	border: 2px solid $primary-main;
	background-color: $primary-main;
	box-shadow: 0px 0px 5px -2px $secondary-semilight;
	color: $bg-color;
}
.buttons button.next:hover {
	background-color: $primary-semidark;
}

.example1 {
	display: inline-block;
	width: 400px;
	height: 200px;
	background-color: white;
}

.example2 {
	width: 400px;
	height: 200px;
	display: inline-block;
	background-image: url('../src/assets/design2.png');
	background-size: cover;
	border: 1px solid lightblue;
}
.example3 {
	width: 400px;
	height: 200px;
	display: inline-block;
	background-image: url('../src/assets/design1.png');
	background-size: cover;
	border: 1px solid lightblue;
}

input:last-child {
	display: block;
}

.first-template {
	width: 70%;
	height: 1500px;
	margin: 0 auto;
	padding: 6em 12em;
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;

	h3 {
		font-size: 1.8rem;
		color: rgb(63, 108, 253);
	}

	h4 {
		font-size: 1.6rem;
	}

	ul {
		list-style: none;
	}

	a {
		color: rgb(63, 108, 253);
	}

	div,
	ul {
		margin-bottom: 20px;
	}

	&__header {
		text-transform: capitalize;
		font-size: 30px;
		color: rgb(63, 108, 253);
		text-align: right;
	}

	&__details,
	&__social {
		text-align: right;

		p,
		a {
			text-decoration: none;
		}

		p > span {
			color: grey;
		}
	}

	hr.divider {
		border: 1px solid rgb(190, 190, 190);
	}

	&__work {
		p {
			margin-bottom: 10px;
		}
	}
}

.second-template {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	&__wrapper {
		background-image: url('../src/assets/design2.png');
		height: 1500px;
		background-repeat: no-repeat;
		width: 100%;
		margin: 0 auto;
	}

	.header {
		text-decoration: grey wavy underline;
		text-decoration-skip-ink: none;
		height: 1.5em;
		font-family: 'Fuzzy Bubbles', cursive;
		font-size: 25px;

		&__text {
			font-size: 20px;
			margin: 0.5rem;
		}

		&--extra {
			font-weight: bold;
		}
	}

	&__about {
		margin-left: 180px;
		margin-right: 180px;
	}

	&__work {
		padding-left: 180px;
		@include position-icons;
	}

	&__bio {
		font-size: x-large;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
	}

	&__edu {
		@include position-icons;
	}

	&__name {
		text-align: center;
		text-transform: capitalize;
		font-family: 'Fuzzy Bubbles', cursive;
		font-size: 55px;
		padding-top: 110px;
		font-style: italic;
	}

	&__title {
		text-align: center;
		text-transform: capitalize;
		font-family: 'Fuzzy Bubbles', cursive;
		font-size: 35px;
		font-weight: 900;
	}

	&__basic {
		padding-left: 180px;
		@include position-icons;
	}

	&__section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 20px;
	}

	&__button {
		border: 5px solid $secondary-semilight;
		background: $secondary-light;
		padding: 5px;
		width: 100px;
		font-weight: bold;
	}
}

@media screen and (min-width: 1700px) {
	:root {
		font-size: 80%;
	}
	section {
		max-width: 1200px;
	}
}

.fa-plus {
	font-size: 3rem;
	border: 0.5rem $primary-light solid;
	border-radius: 25px;
}
